/tools/lua4-decompile/CFLuaDC-Lua4-Decompiler-main
*.pyc
/decomp/ida pro
blender/io_import_autothief.zip
/decomp/ghidra

# Build output
/build/
/src/stubs/stub_functions.cpp
/src/stubs/stub_test.cpp
/src/include/autothief.h
